{% extends "base.html" %}

{% block content %}
<h1>Create a user</h1>
<form>
    <label for="first-name">First Name</label>
    <input name ="first-name" type="text" placceholder="Enter a first name">

    <label for="last-name">Last Name</label>
    <input name ="last-name" type="text" placceholder="Enter a last name">

    <label for="image-url">Image URL</label>
    <input name ="image-url" type="text" placceholder="Provide and image of this user">

    <input type="submit" value="Add">
</form>
{% endblock %}