{% extends "base.html" %}

{% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<!-- add alt tag to img -->
<img src={{user.image_url}}>
<a class="btn btn-primary" href='/users/{{user.id}}/edit' role="button">Edit User</a>
<form method = 'POST' action = '/users/{{user.id}}/delete'>
    <button type="submit">Delete</button>
</form>

<h2>Posts</h2>

<!-- Loop of posts for this user-->
<ul>
{% for post in user.posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
{% endfor %}
</ul>
<a class="btn btn-primary" href='/users/{{user.id}}/posts/new' role="button">Add Post</a>
{% endblock %}